<%= form_tag tweets_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :handle, params[:handle], required: true, name: 'handle',
      placeholder: 'Handle', class: 'form-control' %>
  <%= button_tag 'Get', class: "btn btn-success" %>
  <div class="checkbox">
    <label>
      <%= check_box_tag :refresh %> Force refresh (Default is 5 minutes)
    </label>
  </div>
<% end %>

<% if @tweets %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |tweet| %>
        <tr>
          <td><%= tweet_link tweet %></td>
          <td><%= l(tweet.created_at, format: :short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
